        .navbar {background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);

        }
        .navbar .logo {
                display: flex;
                flex-direction: column;
                justify-self: left;
                align-self: center;
                color: white;
                font-size: 30px;
                font-style: bold;
                padding-left: 50px;
s
        }
        .navbar ul {display: flex; 
                flex-direction: row;
                align-items: center;
                justify-content:  space-between;
               padding-left: 950px;
               padding-right: 60px;
               


        }
        .navbar ul li {list-style: none;
                 
                
                

        }
        .navbar ul li a {color: white;
                font-style: bold;
                font-size: 20px;
                text-decoration: none;

        }
        .navbar ul li a:hover {background-color: gold;

        }