
body{background:color(grey)}
body{font-family: comic sans ms;}
body{margin-left: 10%;}
h1{border-color: rgb(0, 0, 0); border-width: 1px;border-style: solid; background-color: darkgray; margin-right: 80%;}
div{border-style: solid; border-color: darkgrey; border-width: 10px;background-color: darkgrey; margin-right: 80%; border-color: black;border-width: 1px;}