
@font-face {
    font-family: "Oswald";
    src: url(Assets/Fonts/Oswald-VariableFont_wght.ttf);
}

/* L'étoile donne du style à tous les éléments
*{
    margin: 0;
    padding: 0;
} */

body {
    font-family: Oswald, verdana;
    background: url(Assets/Images/Sky.jpeg) center/cover;
    min-height: 100vh;
/* VH = 100% de la taille de l'écran (viewport height) */
}

header nav {

    min-height: 200px;
    width: 90%;
    background: rgb(231 27 36);
    /* centrer une boite */
    margin: 0 auto;
    border: 2px solid skyblue;
    border-radius: 20px;
    box-shadow: -20px 19px 20px 4px #52b7ca;
    padding: 15px;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
  justify-content: space-between;

}

header nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

}

header nav ul li {
    font-size: 1.5rem;
}

header nav img{
     width: 80%;
    margin: 20px auto;
   

}

h1 {text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3rem; 
    /* les tailles de polices doivent être en REM 1rem = 16px */
    text-shadow: 0px 5px 0 #0000002e;
    color: rgb(208, 190, 190);
    font-family: 'Segoe UI', verdana;
}

main {
    min-height: 500px;
    width: 90%;
    background: rgba(247, 243, 243, 0.782);
    /* centrer une boite */
    margin: 0 auto;
    border: 2px solid skyblue;
    border-radius: 20px;
    box-shadow: -20px 19px 20px 4px #52b7ca;
    padding: 15px;
}

h2 {
    margin: 0;
}

.flexbox, .grid {
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
   
}

.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    /* centrer un unique élément verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    width: 80%;
    margin: 20px auto;
}
form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}

input, textarea {
    margin: 5px;
    border: 2px solid skyblue;
    padding: 10px;
    font-size: 1.1rem;
    font-family: Oswald, verdana;
    border-radius: 5px;
}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

#btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: rgb(0, 157, 255);
    transition: 0.2s;
}

#btn-submit:hover {
    background: rgb(0, 72, 139);
    color: white;
}