
@font-face {
    font-family: "Oswald";
    src: url(Assets/Fonts/Oswald-VariableFont_wght.ttf);
}

/* L'étoile donne du style à tous les éléments
*{
    margin: 0;
    padding: 0;
} */

body {
    font-family: Oswald, verdana;
    background: url(Assets/Images/background\ mario.jpg) center/cover;
    min-height: 100vh;
/* VH = 100% de la taille de l'écran (viewport height) */
}

header nav {

    min-height: 100px;
    width: 90%;
    background: rgb(231 27 36);
    /* centrer une boite */
    margin: 0 auto;
    border: 2px solid rgb(244, 246, 247);
    border-radius: 20px;
    box-shadow: -6px 12px 20px 10px #0000005c;
    padding: 15px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 2fr;
 

}

header nav ul{
    list-style: none;
    display: grid;
    grid-template-rows: 2;
    
    

    
   

}

header nav ul li {
   width: 100px;
   grid-row-start: 2;
   
   
   
}

header nav ul li a {
    font-family: 'Segoe UI', Verdana;
    font-style: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(252, 252, 252);
    /* background: rgb(248, 247, 247); */
    border-radius: 10%;
    /* border-style: solid; */
    border-width: 0.5px;
    border-color: rgb(243, 243, 243);
    
    
}

header nav ul li a:hover {
    background-color: rgb(255, 52, 52);
    color: rgb(14, 0, 0);
    
}

header nav ul li a i {
    grid-template-rows: 1fr;
}

header nav img{
     width: 70%;
     margin: 20px auto;
    
   

}

h1 {
    grid-column-start: 1;
    
    min-width: 100px;
    text-transform: uppercase;
    text-decoration: overline, underline;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2vh;
    /* les tailles de polices doivent être en REM 1rem = 16px */
    text-shadow: 0px 5px 0 #0000002e;
    color: rgb(247, 243, 243);
    font-family: 'Segoe UI', verdana;
}

main {
    min-height: 500px;
    width: 90%;
    background: rgb(231 27 36);
    /* centrer une boite */
    margin: 0 auto;
    border: 2px solid rgb(244, 246, 247);
    border-radius: 20px;
        box-shadow: -6px 12px 20px 10px #0000005c;
    padding: 15px;
}

h2 {
    margin: 0;
}

.flexbox, .grid {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
   
}

.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 100%;
    background: rgb(252, 252, 252);
    /* centrer un unique élément verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    width: 80%;
    margin: 20px auto;
}
form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}

input, textarea {
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.1rem;
    font-family: Oswald, verdana;
    border-radius: 5px;
}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

#btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: rgb(250, 251, 252);
    transition: 0.2s;
}

#btn-submit:hover {
    background: rgb(255, 52, 52);
    color: white;
}

h2{
    color: white;
    font-size: 1.5rem;
}

footer p {
    color: white;
    font-size: 0.8rem;
    align-items: center;
    
}

footer {
    min-height: 100px;
    width: 90%;
    background: rgb(231 27 36);
    /* centrer une boite */
    margin: 0 auto;
    border: 2px solid rgb(244, 246, 247);
    border-radius: 20px;
    box-shadow: -6px 12px 20px 10px #0000005c;
    padding: 15px;
    display: grid;
   
}


@media screen and (max-width: 748px){
    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }

    header nav ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-start: 3;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }

    header nav ul li {
        padding: 5px;
    }

    .flexbox li {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img""img"
        "img""img"
        "img""img"
        ;
    }
}